<!DOCTYPE HTML>
<html lang="en">

<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-E00L9PT3V9"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-E00L9PT3V9');
  </script>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

</head>

<body>
  <table style="width:100%;max-width:1100px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>
                Ruixuan Liu
              </h1>
              <p>
                I am a PhD student in the <a href="https://www.ri.cmu.edu/">Robotics Institute</a>, part of the <a href="https://www.scs.cmu.edu/">School of Computer Science</a>,
                at Carnegie Mellon University advised by <a href="https://www.ri.cmu.edu/ri-faculty/changliu-liu/">Prof. Changliu Liu</a> (<a href="http://icontrol.ri.cmu.edu/">Intelligent Control Lab</a>). 
                My research focuses on robot learning/manipulation/control, generative intelligence, and human-robot collaboration.
              </p>
              <p>I received my Bachelor’s degree in <a href="https://www.ece.cmu.edu/">Electrical and Computer Engineering</a> with a minor in Robotics at Carnegie Mellon University. 
                 During my undergrad, I was fortunate to work in the <a href="https://theairlab.org/">AirLab</a> led by <a href="https://www.ri.cmu.edu/ri-faculty/sebastian-scherer/">Prof. Sebastian Scherer</a>. 
                 My work focused on sensor fusion and 3D reconstruction for structural inspection.
              </p>
              <p style="text-align:center">
                <a href="https://www.ri.cmu.edu/ri-people/ruixuan-liu/">Email</a> &nbsp;/&nbsp;
                <a href="https://scholar.google.com/citations?user=3v7sVbwAAAAJ&hl=en">Google Scholar</a> &nbsp;/&nbsp;
                <a href="https://docs.google.com/document/d/1SmjADkqjzWgfmlfFL45Z0vY3sQQv-CgQMpszpe8Lrgc/edit?usp=sharing">CV</a> &nbsp;/&nbsp;
                <a href="https://www.linkedin.com/in/ruixuan-wayne-liu/"> LinkedIn </a>
              </p>
            </td>
            <td style="padding:2.5%;width:30%;max-width:30%">
              <img style="width:100%;max-width:100%" alt="profile photo" src="images/ruixuan.jpg">
            </td>
          </tr>
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Highlights</h2>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <style>
          #slideshow {
            overflow: hidden;
            height: auto;
            width: 100%;
            max-width: 750px;
            margin: 0 auto;
          }
          
          .slide {
            float: left;
            height: auto;
            width: 100%;
          }
          
          .slide-wrapper {
            display: flex;
            width: calc(100% * 4);
            animation: slide 20s ease infinite;
          }
          
          @keyframes slide {
            0% {
              margin-left: 0;
            }
            25% {
              margin-left: -100%;
            }
            50% {
              margin-left: -200%;
            }
              75% {
              margin-left: -300%;
            }
              100% {
              margin-left: 0;
            }
          }

          /* Media query for smaller screens */
          @media (max-width: 600px) {
            #slideshow {
              max-width: 100%;
            }
            .slide {
              width: 100%;
            }
          }
          </style>

          
          <!-- Define the slideshow container -->
          <div id="slideshow">
            <div class="slide-wrapper">
              {% assign highlight_count = 0 %}
              {% for post in site.posts %}
                {% if post.highlight == true and highlight_count < 4 %}
                  <div class="slide">
                      <h4>{{ post.highlightbrief }}</h4>
                      <img src="{{ post.highlightimage }}" style="float:middle;width:10%;">
                  </div>
                  {% assign highlight_count = highlight_count | plus: 1 %}
                {% endif %}
                {% if highlight_count == 4 %}
                  {% break %}
                {% endif %}
              {% endfor %}
            </div>
          </div>
          
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>News</h2>
              <ul>
                <li><h3>2025/10</h3> BrickGPT won the <h3>Best Paper Award (Marr Prize)</h3> at ICCV 2025! [<a href="http://icontrol.ri.cmu.edu/news/iccv25.html">News</a>] [<a href="https://x.com/ICCVConference/status/1980704802691858682">X</a>]</li>
                <li><h3>2025/09</h3> Finished internship as an Applied Scientist at Amazon Robotics.</li>
                <li><h3>2025/09</h3> Our work on Physical AI is featured on <a href="https://www.cmu.edu/news/stories/archives/2025/september/physical-ai-fuels-the-machines-of-tomorrow">CMU News</a>.</li>
                <li><h3>2025/07</h3> Our work on BrickGPT is featured on <a href="https://www.cs.cmu.edu/news/2025/brick-gpt">CMU News</a>.</li>
                <li><h3>2025/07</h3> <a href="https://arxiv.org/abs/2408.08188">Nl2Hltl2Plan</a> is accepted to RA-L.</li>
                <li><h3>2025/06</h3> <a href="https://openaccess.thecvf.com/content/ICCV2025/html/Pun_Generating_Physically_Stable_and_Buildable_Brick_Structures_from_Text_ICCV_2025_paper.html">BrickGPT</a> is accepted to ICCV 2025.</li>
                <li><h3>2025/06</h3> <a href="https://arxiv.org/abs/2503.06848v1">Eye-in-Finger</a> and TOTG-C are accepted to IROS 2025.</li>
                <li><h3>2025/05</h3> Our team won the <h3>First Prize ($60k)</h3> in 2025 ICRA What Bimanuals Can Do (WBCD) competition! <a href="http://icontrol.ri.cmu.edu/news/icra2025-wbcd.html">News</a></li>
                <li><h3>2025/05</h3> Our paper <a href="https://scholar.google.com/citations?view_op=view_citation&hl=en&user=3v7sVbwAAAAJ&cstart=20&pagesize=80&citation_for_view=3v7sVbwAAAAJ:M3ejUd6NZC8C"><i>Multi-Level Reasoning for Delicate Assembly using Dual Arms</i></a> received <h3>Best Poster Finalist</h3> award at 2025 ICRA workshop.</li>
                <li><h3>2025/04</h3> <a href="https://arxiv.org/abs/2503.15836">APEX-MR</a> is accepted to RSS 2025.</li>
                <li><h3>2025/03</h3> Our paper <a href="https://arxiv.org/abs/2408.10162">Physics-Aware Combinatorial Assembly Sequence Planning</a> is accepted to RA-L.</li>
                <li><h3>2025/01</h3> Our paper on <a href="https://arxiv.org/abs/2409.03966">VLM for Robot Failure Recovery</a> is accepted to ACC 2025.</li>
                <li><h3>2024/11</h3> Our work on generative manufacturing and robotic assembly is featured on <a href="https://www.mmsonline.com/articles/test-bed-builds-up-robotics-research-at-carnegie-mellon-university">Modern Machine Shop News</a>.</li>
                <li><h3>2024/09</h3> Finished internship as an Applied Scientist at Amazon Robotics.</li>
                <li><h3>2024/05</h3> <a href="https://arxiv.org/abs/2402.10711">StableLego</a> and <a href="https://arxiv.org/abs/2308.10393">HLTL for Multi-Robots Planning</a> are accepted to RA-L.</li>
                <li><h3>2024/04</h3> Our paper on <a href="https://arxiv.org/abs/2309.02354">Lego Manipulation</a> is accepted to 2024 International Symposium on Flexible Automation (ISFA).</li>
                <li><h3>2024/04</h3> <a href="https://arxiv.org/abs/2305.13681">Guard</a> is accepted to Transactions on Machine Learning Research (TMLR).</li>
                <li><h3>2024/01</h3> One paper on <a href="https://arxiv.org/abs/2403.14968">Safety Index Adaptation</a> is accepted to ACC 2024.</li>
                <li><h3>2023/10</h3> Our work on robotic Lego construction is featured on <a href="https://www.cmu.edu/news/stories/archives/2023/October/lego-bricks-mill19">CMU News</a>.</li>
                <li><h3>2023/09</h3> One paper accepted to IROS'23 Workshop on Formal methods techniques in robotics systems: Design and control.</li>
                <li><h3>2023/05</h3> One paper accepted to ACC'23 Workshop on Recent Advancement of Human Autonomy Interaction and Integration.</li>
                <li><h3>2023/05</h3> One paper accepted to CCTA 2023.</li>
                <li><h3>2023/03</h3> One paper accepted to CDC 2023.</li>
                <li><h3>2022/12</h3> Demonstrated our work on proactive human-robot co-assembly to Ford. [<a href="https://www.cmu.edu/news/stories/archives/2022/december/anticipating-a-partners-moves">CMU News</a>]</li>
                <li><h3>2022/12</h3> Our paper at CPHS22 won the <h3>Best Student Paper</h3> award.</li>
                <li><h3>2022/08</h3> Finished internship as an Research Scientist at Siemens Berkeley.</li>
                <li><h3>2022/08</h3> One paper accepted to IFAC CPHS 2022.</li>
                <li><h3>2022/07</h3> One paper accepted to RSS'22 workshop in Close-Proximity HRC.</li>
                <li><h3>2022/05</h3> One paper accepted to AIM 2022.</li>
                <li><h3>2022/04</h3> One paper accepted to 2022 International Symposium on Flexible Automation (ISFA).</li>
                <li><h3>2022/01</h3> Demonstrated our work on safe HRC with interactive industrial robots to the <h3>U.S. President</h3> at Mill 19, Pittsburgh. 
                  [<a href="https://twitter.com/potus/status/1488154798746701824?s=21">President Biden's Twitter</a>]
                  [<a href="https://www.cmu.edu/news/stories/archives/2022/january/biden-delivers-passionate-call-to-action-to-invest-in-american-innovation">CMU News</a>]
                  [<a href="http://icontrol.ri.cmu.edu/news/demo-biden.html">Lab Website</a>]
                </li>
                <li><h3>2021/07</h3> One paper accepted to ICML'21 workshop of human in the loop learning.</li>
                <li><h3>2020/12</h3> One paper jointly accepted to ACC 2021 and IEEE Control Systems Letters.</li>
              </ul>
            </td>
          </tr>
        </table>


        <br>
        <br>
        <br>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Research</h2>
              <p>
                I'm broadly interested in robotics, manipulation, learning and control, generative intelligence, and human-robot collaboration. Please see the following list for my research works.
              </p>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'research' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:400px">
              <img src="{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              {{post.authors}}
              
              {% if post.equalcontribution %}
              <br>
              *Equal Contributions
              {% endif %}

              {% if post.venue %}
              <br>
              <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }}
              {% endif %}
              {% if post.award %}
              <br>
              <strong style="color: rgb(255, 70, 0);">{{ post.award }}</strong>
              {% endif %}
              {% if post.collaborator %}
              <br>
              In collaboration with <em>{{post.collaborator}}</em>
              {% endif %}
              {% if post.sponsor %}
              <br>
              In part supported by <em>{{post.sponsor}}</em>
              {% endif %}
              <br>
              {% if post.arxiv %}
              <a href="{{post.arxiv}}">Paper</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">Video</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">Code</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">Poster</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">Slides</a> /
              {% endif %}
              {% if post.website %}
              <a href="{{post.website}}">Project Website</a> /
              {% endif %}
              {% if post.youtube %}
              <a href="{{post.youtube}}">youtube</a> /
              {% endif %}
              {% if post.news %}
              <a href="{{post.news}}">news</a> /
              {% endif %}
              {% if post.twitter %}
              <a href="{{post.twitter}}">X</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>

        <br>
        <br>
        <br>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Award</h2>
              <ul>
                <li><h3>2025/10</h3> Best Paper Award (Marr Prize) at ICCV 2025.</li>
                <li><h3>2025/05</h3> The First Prize at 2025 ICRA What Bimanuals Can Do (WBCD) competition.</li>
                <li><h3>2025/05</h3> Best Poster Finalist award at 2025 ICRA TAMP workshop.</li>
                <li><h3>2022/12</h3> Best Student Paper award at CPHS22.</li>
                <li><h3>2019/05</h3> Graduation with University Honors.</li>
                <li><h3>Fall 2017-Spring 2018</h3> Dean's List of Engineering.</li>
                <li><h3>Fall 2015-Spring 2016</h3> Dean's List of Engineering.</li>
              </ul>
            </td>
          </tr>
        </table>

        <br>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Service</h2>
              <p><h3>Reviewer</h3> for 
                <ul>
                  <li><h3>Journals:</h3> IEEE RAM, IEEE L-CSS, IEEE RA-L, IEEE/ASME TMECH, ACM TOMM, IEEE TIE.</li>
                  <li><h3>Conferences:</h3> ICRA, IROS, ICCV, SIGGRAPH, ACC, ISFA.</li>
                </ul>
              </p>
            </td>
          </tr>
        </table>

        <br>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Teaching</h2>
              <p>Teaching assistant for 16-720: Computer Vision. Instructor: <a href="https://www.ri.cmu.edu/ri-faculty/srinivasa-g-narasimhan/">Prof. Srinivasa G. Narasimhan</a>.
              </p>
              <p>Teaching assistant for <a href="https://www.cs.cmu.edu/~me/811/">16-811: Math Fundamentals for Robotics</a>. Instructor: <a href="https://www.ri.cmu.edu/ri-faculty/michael-erdmann/">Prof. Michael Erdmann</a>.
              </p>
              <p>Teaching assistant for <a href="https://courses.ece.cmu.edu/18202">18-202: Mathematical Foundations of Electrical Engineering</a>. Instructor: <a href="https://www.ece.cmu.edu/directory/bios/moura-jose.html">Prof. José Moura</a>.
              </p>
            </td>
          </tr>
        </table>

        <br>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Other Projects</h2>
              <p> These include courseworks and side projects. 
              </p>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat != 'research' and cat != 'Intel' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:400px">
              <img src="{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              {{post.authors}}

              {% if post.venue %}
              <br>
              <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }}
              {% endif %}
              {% if post.award %}
              <br>
              <strong style="color: rgb(255, 70, 0);">{{ post.award }}</strong>
              {% endif %}
              {% if post.collaborator %}
              <br>
              In collaboration with <em>{{post.collaborator}}</em>
              {% endif %}
              {% if post.sponsor %}
              <br>
              In part supported by <em>{{post.sponsor}}</em>
              {% endif %}
              {% if post.course %}
              <br>
              <em>{{post.course}}</em>
              {% endif %}
              <br>
              {% if post.arxiv %}
              <a href="{{post.arxiv}}">paper</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %}
              {% if post.website %}
              <a href="{{post.website}}">website</a> /
              {% endif %}
              {% if post.youtube %}
              <a href="{{post.youtube}}">youtube</a> /
              {% endif %}
              {% if post.news %}
              <a href="{{post.news}}">news</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>

        
        
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:small;">
                Design and source code from <a style="font-size:small;" href="https://jonbarron.info">Jon Barron's website</a>
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>

